Django==1.4
Mako==0.7.0
MarkupSafe==0.15
Nikola==3.1
Pygments==2.7.4
argparse==1.2.1
distribute==0.6.24
django-dajax==0.8.4
django-dajaxice==0.2
docutils==0.9
doit==0.16.1
psycopg2==2.4.5
pyinotify==0.9.3
wsgiref==0.1.2
