<body>
	<div width="10%">Busca: <input type="text" /></div>
	<div style="float:left;position:relative; margin-left: 0px" width="10%">
		{% if albuns %}
			<ul>
				{% for album in albuns %}
					<li style="list-style-type: none"><a href="#" id="{{ album.id }}" name="{% url listar_songs album.id %}">{{ album.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<h1>Nenhum album cadastrado</h1>
		{% endif %}
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		$("a").click(function(){
			var album_id = this.id;
			var link = this.name;
			$("#content").hide();
			$.ajax({
				url: link,
				cache: false,
				beforeSend: function(){
					$("#content").html("<strong>Buscando músicas...</strong>");
				},
				success: function(data){
					$("#content").html(data);
				}
			});
			$("#content").fadeIn('slow');
			return false;
		});
	});
</script>