<body>
	{% if albuns %}
		<h2>{{albuns|length}} albu{{albuns|pluralize:"m,ns"}} encontrado{{albuns|pluralize}}.</h2>
        <table>
        	<tr bgcolor="#0099FF" border=1>
        		<td><strong>Artista</strong></td>
        		<td><strong>Album</strong></td>
        		<td><strong>Ano de lançamento</strong></td>
        	</tr>
			{% for album in albuns %}
				<tr bgcolor="{% cycle '#5c8ea7' '#a8ffea' %}">
					<td>{{ album.artist }}</td>
					<td><a href="{% url listar_songs album.id %}">{{ album.name }}</a></td>
					<td>{{ album.year }}</td>
				</tr>
				<div id="album{{ album.id }}">
				</div>
			{% endfor %}
		</table>

	{% else %}
		<h1>Nenhum album cadastrado</h1>
	{% endif %}
</body>