{% if artists %}
	<ul>
		{% for artist in artists %}
			<li>
				<h2><a class="artist" href="#" id="artist{{ artist.id }}" name="{% url listar_albuns artist.id %}">{{ artist.name }}</a></h2>
				<ul id="artist{{ artist.id }}_list"></ul>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<h1>Nenhum artista cadastrado</h1>
{% endif %}

<script type="text/javascript">
	$(document).ready(function(){
		$("#nav a.artist").live("click", function(){
			var link = this.name;
			var id = "#" + this.id;
			$.ajax({
				url: link,
				cache: false,
				beforeSend: function(){
					$(id + "_list").html("<strong>Buscando albuns...</strong>");
				},
				success: function(data){
					$(id + "_list").html(data);
				}
			});
			$(id + "_list").hide();
			$(id + "_list").fadeIn('slow');
			return false;
		});
	});
</script>