{% if erros %}
	<li>{{ erros }}</li>
    {% for erro in erros %}
    <li>{{ erros }}</li>
    {% endfor %}
{% endif %}

<form action="" id="saveArtist" method="post">
	{% csrf_token %}
	{% for field in formulario %}
		<li>{{ field }}</li>
	{% endfor %}

	<input type="hidden" id="artist_info" value="{{ artist_id }}" name="{% url save_artist artist_id %}" />
	<input type="submit" value="Save" />
</form>

{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#saveArtist').submit(function(event){
			event.preventDefault();

			var url = $("#artist_info").attr('name');

			var $form = $( this ),
        		 term = $form.find( 'input[id="saveArtist-name"]').val();

			/* Send the data using post and put the results in a div */
			$.post(url, {saveArtist-name: term}, function(data){
				alert(data);
			});

        	alert(url);
		});
	});
</script>
{% endblock script %}