#header
{
	background-color: #105099;
	margin-bottom: 10px;
}

#nav
{
	float: left;
	width: 25%;
	background-color: #999;
	margin-bottom: 10px;
}

ul{
	list-style-type: none;
}

#content
{
	float: left;
	margin-left: 10px;
	width: 65%;
	background-color: #105099;
	margin-bottom: 10px;
}

#footer
{
	clear: both;
	height: 50px;
	background-color: #666;
	margin-bottom: 10px;
}

/* Menu principal */
#minitabs {
	margin: 0;
	padding: 0 0 20px 10px;
	border-bottom: 1px solid #696;
}

#minitabs li {
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
}
	
#minitabs a:link, #minitabs a:visited {
	float: left;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 10px 4px 10px;
	padding-bottom: 2px;
	text-decoration: none;
	color: #9c9;
}

#minitabs a.active:link, #minitabs a.active:visited, #minitabs a:hover {
	border-bottom: 4px solid #696;
	padding-bottom: 2px;
	background: #105099;
	color: #666;
}